{% macro alert(type, message) %}
    {% set alertClass = type is same as('error') ? 'alert-danger' : 'alert-success' %}
    <div class="alert {{ alertClass }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endmacro %}


{% for type, messages in flash() %}
    {% for message in messages %}
        {{ _self.alert(type, message) }}
    {% endfor %}
{% endfor %}
