{% extends 'base/admin.twig' %}
{% import "base/utils.twig" as utils %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Groups</h1>
    </div>

    <form method="POST" action="{{ full_url_for('actions.groups.edit') }}">
        <input type="hidden" value="{{ editGroup.getName()|e('html_attr') }}" name="currentName">
        <fieldset>
            <legend>Edit group</legend>

            <div class="mb-3">
                <label for="inputNewName" class="form-label">Name</label>
                <input placeholder="Name" required autofocus name="newName" type="text" class="form-control"
                       id="inputNewName" pattern="[a-z0-9-]{1,25}" value="{{ editGroup.getName()|e('html_attr') }}">
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit <i data-feather="check"></i></button>
        </fieldset>
    </form>

{% endblock %}
