{% extends 'base/site.twig' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/css/cover.css">
{% endblock %}

{% block body %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">SimpNAS</h3>
            </div>
        </header>

        <main class="mb-auto px-3">
            <h1>Setup completed</h1>

            <p class="lead">
                <a href="{{ full_url_for('power.reboot') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Reboot</a>
            </p>
        </main>

    </div>
{% endblock %}
